<div class="col-xs-12 col-md-12" style="padding: 0px;">
    <nav class="navbar navbar-default"
         style="padding: 0px 16.66666667% 0px 16.66666667%;border-radius:0px;background: #545c64;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/index">Dashboard<span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="/product_list">商品列表<span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="/ddzx">订单中心<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/personalCenter">个人中心</a></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>