<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入Element样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css-vue/style.css}" />
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div id="index">
    <el-container>
        <el-header>
            <div class="grid-content bg-purple-light">
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                         @select="handleSelect" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
                    <el-menu-item index="1">首页</el-menu-item>
                    <el-menu-item index="2">消息中心</el-menu-item>
                    <el-menu-item index="3">订单管理</el-menu-item>
                    <el-menu-item index="4">登录</el-menu-item>
                    <el-menu-item index="5">注册</el-menu-item>
                </el-menu>
            </div>
        </el-header>
        <el-container>
            <el-aside width="300px"></el-aside>
            <el-container>
                <el-main>
                    {{message}}
                </el-main>
            </el-container>
            <el-aside width="300px"></el-aside>
        </el-container>
        <el-footer>

        </el-footer>
    </el-container>
</div>
<!-- 引入Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<!-- 引入Element组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{/js-vue/index.js}"></script>

</body>
</html>

<!--

-->