.header {
    height:60px;
    /*background: #545c64;*/
}
.footer {
    position:fixed;
    bottom:0px;
    width:100%;
    /*background: #545c64;*/
    height:60px;
    /*background-color: #ffc0cb;*/
}