.header {
    height:60px;
}
.footer {
    position:fixed;
    bottom:0px;
    width:100%;
    background: #545c64;
    height:60px;
}
/*
    导航条样式
*/
.navbar-default .navbar-nav>li>a {
    color: #ffffff !important;
}
/*
    导航菜单被选中的样式
*/
.navbar-default .navbar-nav>.active>a {
    background: #545c64 !important;
    color: #ffd04b !important;
    border-bottom: solid 3px;
    border-color: #ffd04b;
}
.navbar-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
}