package ${package_name}.service;

import wang.smile.common.base.BaseServiceMock;
import ${package_name}.mapper.${model}Mapper;
import ${package_name}.model.${model};
import ${package_name}.model.${model}Example;

/**
* ${modelname}
* @Author wangsy
* @Date ${ctime}.
*/
public class ${model}ServiceMock extends BaseServiceMock<${model}Mapper, ${model}, ${model}Example> implements ${model}Service {

}
