package ${package_name}.service.impl;

import wang.smile.common.annotation.BaseService;
import wang.smile.common.base.BaseServiceImpl;
import ${package_name}.mapper.${model}Mapper;
import ${package_name}.model.${model};
import ${package_name}.model.${model}Example;
import ${package_name}.service.${model}Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
* ${modelname}
* @Author wangsy
* @Date ${ctime}.
*/
@Service
@Transactional
@BaseService
public class ${model}ServiceImpl extends BaseServiceImpl<${model}Mapper, ${model}, ${model}Example> implements ${model}Service {

    private static final Logger LOGGER = LoggerFactory.getLogger(${model}ServiceImpl.class);

    @Autowired
    ${model}Mapper ${mapper}Mapper;

}