<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="common/header::navbar"></div>
    <div class="row body">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8">
            Dashboard
        </div>
        <div class="col-xs-2 col-md-2"></div>
    </div>
    <div th:replace="common/footer::footer"></div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>
