<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div class="container-fluid">
    <div class="row header">
        <div class="col-xs-12 col-md-12" style="padding: 0px;">
            <nav class="navbar navbar-default" style="padding: 0px 250px 0px 250px;border-radius:0px;">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/index">统计报表<span class="sr-only">(current)</span></a>
                            </li>
                            <li>
                                <a href="/index">订单中心<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/personalCenter">个人中心</a></li>
                            <li><a href="/logout">退出</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <div class="row body">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8">
            首页
        </div>
        <div class="col-xs-2 col-md-2"></div>
    </div>
    <div class="row footer">
        <div class="col-xs-12 col-md-12"></div>
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/login.js}"></script>
</body>
</html>
