<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body style="padding-top: 200px;background-color: #eee;">
    <div class="container-fluid">
        <div class="row body">
            <div class="col-xs-2 col-md-2"></div>
            <div class="col-xs-8 col-md-8">
                <form class="form-signin" method="post" th:action="@{/authentication/form}" style="padding: 0px 500px 0 500px;">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <label for="inputMobile" class="sr-only">手机号码</label>
                    <input style="margin-bottom: 10px;"
                           type="mobile" id="inputMobile" class="form-control" name="username"
                           placeholder="手机号码" required="" autofocus="">

                    <label for="inputPassword" class="sr-only">密码</label>
                    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="密码" required="">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                    <button class="btn btn-primary btn-block" type="submit">Sign up</button>
                </form>
            </div>
            <div class="col-xs-2 col-md-2"></div>
        </div>
        <div class="row footer">
            <div class="col-xs-12 col-md-12"></div>
        </div>
    </div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/login.js}"></script>
</body>
</html>
