<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入Element样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />-->
    <meta charset="UTF-8">
    <title>index</title>

    <style>
        .el-row {
            margin-bottom: 20px;
        }
        .el-col {
            border-radius: 4px;
        }
        .bg-purple-dark {
            background: #99a9bf;
        }
        .bg-purple {
            background: #ffffff;
        }
        .bg-purple-light {
            background: #e5e9f2;
        }
        .grid-content {
            border-radius: 4px;
            min-height: 60px;
        }
        .grid-content-main {
            min-height: 780px;
        }
        .demo-input-suffix {
            margin-top: 30px;
            text-align: center;
        }
    </style>

</head>
<body>
    <div id="login">
        <el-container>
            <el-header>
                <el-row>
                    <el-col :span="4"><div class="grid-content bg-purple"></div></el-col>
                    <el-col :span="16">
                        <div class="grid-content bg-purple-light">
                            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
                                <el-menu-item></el-menu-item>
                                <el-menu-item></el-menu-item>
                                <el-menu-item></el-menu-item>
                                <el-menu-item index="1">首页</el-menu-item>
                                <el-menu-item index="2">消息中心</el-menu-item>
                                <el-menu-item index="3">订单管理</el-menu-item>

                                <el-menu-item index="4">登录</el-menu-item>
                                <el-menu-item index="5">注册</el-menu-item>
                                <el-menu-item></el-menu-item>
                                <el-menu-item></el-menu-item>
                                <el-menu-item></el-menu-item>
                            </el-menu>
                        </div>
                    </el-col>
                    <el-col :span="4"><div class="grid-content bg-purple"></div></el-col>
                </el-row>
            </el-header>
            <el-main>
                <el-row>
                    <el-col :span="4"><div class="grid-content-main bg-purple"></div></el-col>
                    <el-col :span="16"><div class="grid-content bg-purple">
                        <el-col :span="8"><div class="grid-content bg-purple"></div></el-col>
                        <el-col :span="8"><div class="grid-content bg-purple">
                            <div class="demo-input-suffix">
                                <el-input placeholder="请输入登录账号" v-model="loginName" label="用户名"></el-input>
                            </div>
                            <div class="demo-input-suffix">
                                <el-input placeholder="请输入密码" v-model="password" label="用户名"></el-input>
                            </div>
                            <div class="demo-input-suffix">
                                <el-button type="primary">登录</el-button>
                                <el-button type="info">取消</el-button>
                            </div>
                        </div></el-col>
                        <el-col :span="8"><div class="grid-content bg-purple"></div></el-col>
                    </div></el-col>
                    <el-col :span="4"><div class="grid-content-main bg-purple"></div></el-col>
                </el-row>
            </el-main>
            <el-footer>
                <el-row>
                    <el-col :span="4"><div class="grid-content bg-purple"></div></el-col>
                    <el-col :span="16"><div class="grid-content bg-purple-light">

                    </div></el-col>
                    <el-col :span="4"><div class="grid-content bg-purple"></div></el-col>
                </el-row>
            </el-footer>
        </el-container>
    </div>
    <!-- 引入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入Element组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script th:src="@{/js/login.js}"></script>
</body>
</html>

<!--

-->