<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smile.wangsy.january.merchant.mapper.MerchantMapper">
  <resultMap id="BaseResultMap" type="smile.wangsy.january.merchant.model.Merchant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
    <result column="principal_mobile" jdbcType="VARCHAR" property="principalMobile" />
    <result column="start_hours" jdbcType="VARCHAR" property="startHours" />
    <result column="end_hours" jdbcType="VARCHAR" property="endHours" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="out_image" jdbcType="VARCHAR" property="outImage" />
    <result column="inner_image" jdbcType="VARCHAR" property="innerImage" />
    <result column="id_card_front_image" jdbcType="VARCHAR" property="idCardFrontImage" />
    <result column="id_card_back_image" jdbcType="VARCHAR" property="idCardBackImage" />
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="industry_license" jdbcType="VARCHAR" property="industryLicense" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="is_valid" jdbcType="BIT" property="isValid" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="login_account" jdbcType="VARCHAR" property="loginAccount" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="been_deleted" jdbcType="BIT" property="beenDeleted" />
  </resultMap>
</mapper>